body
{
  background-color:    hsl(0,0%,50%);
}

div#instructions
{
  width:               400px;
  padding:             20px;
  font-size:           16px;
  background-color:    hsl(0,0%,75%);
  color:               hsl(0,0%,25%);
  font-family:         sans-serif;
  position:            fixed;
}

div#instructions_bg
{
  width:               500px;
  height:              500px;
  background-color:    hsl(0,0%,25%);
  position:            fixed;
}

div#nextbutton
{
  width:               180px;
  font-size:           20px;
  font-weight:         bold;
  text-align:          center;
  font-family:         sans-serif;
  background-color:    hsl(0,0%,25%);
  color:               hsl(0,0%,75%);
  padding:             6px;
  position:            fixed;
}
