body
{
  background-color:    hsl(0,0%,50%);
}

img.cntr
{
  background-color:    hsl(0,0%,25%);
  position:            fixed;
}

img.target
{
  position:            fixed;
}

img.feedback
{
  position:            fixed;
}

div#break
{
  width:               400px;
  padding:             40px;
  font-weight:         bold;
  font-size:           20px;
  background-color:    hsl(0,0%,75%);
  color:               hsl(0,0%,25%);
  text-align:          center;
  font-family:         sans-serif;
  position:            fixed;
}

div#break2
{
  width:               200px;
  padding:             10px;
  font-size:           14px;
  background-color:    hsl(0,0%,75%);
  color:               hsl(0,0%,25%);
  text-align:          center;
  font-family:         sans-serif;
  position:            fixed;
}

div#winresized
{
  width:               400px;
  padding:             40px;
  font-weight:         bold;
  font-size:           20px;
  background-color:    hsl(0,0%,75%);
  color:               hsl(0,0%,25%);
  font-family:         sans-serif;
  position:            fixed;
}

div#mobilebrowser
{
  width:               400px;
  padding:             40px;
  font-weight:         bold;
  font-size:           20px;
  background-color:    hsl(0,0%,75%);
  color:               hsl(0,0%,25%);
  font-family:         sans-serif;
  position:            fixed;
}

div#instructions
{
  width:               400px;
  padding:             20px;
  font-size:           16px;
  background-color:    hsl(0,0%,75%);
  color:               hsl(0,0%,25%);
  font-family:         sans-serif;
  position:            fixed;
}

div#demographics_survey_div
{
  width:               400px;
  padding:             20px;
  font-size:           16px;
  background-color:    hsl(0,0%,75%);
  color:               hsl(0,0%,25%);
  font-family:         sans-serif;
  position:            fixed;
}

div#instructions_bg
{
  width:               600px;
  height:              600px;
  background-color:    hsl(0,0%,25%);
  position:            fixed;
}

div#nextbutton
{
  width:               180px;
  font-size:           20px;
  font-weight:         bold;
  text-align:          center;
  font-family:         sans-serif;
  background-color:    hsl(0,0%,25%);
  color:               hsl(0,0%,75%);
  padding:             6px;
  position:            fixed;
}

div#backbutton
{
  width:               180px;
  font-size:           20px;
  font-weight:         bold;
  text-align:          center;
  font-family:         sans-serif;
  background-color:    hsl(0,0%,25%);
  color:               hsl(0,0%,75%);
  padding:             6px;
  position:            fixed;
}

div.demo_popup
{
  width:               300px;
  font-size:           12px;
  font-family:         sans-serif;
  background-color:    Khaki;
  padding:             4px;
  position:            fixed;
}
